<div class="title">
  <div>
    <h1>Cocktail Index</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-name">
            <%= cocktail.name %>
          </div>
          <div class="img">
            <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %>
          </div>
            <%= link_to 'Show', cocktail_path(cocktail), class: "btn btn-primary" %>
            <%= link_to 'Create a dose', new_cocktail_dose_path(cocktail), class: "btn btn-info" %>
            <%= link_to 'Delete', cocktail_path(cocktail), class: "btn btn-danger", method: :delete%>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'Add a new cocktail' ,new_cocktail_path %>
